@model SimpleBlog.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row w-full">
    <div class=" container">
        <form class="w-100 justify-content-center container" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group justify-content-center">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control w-25" placeholder="Enter a title for your post..."/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-center">
                <label asp-for="Text" class="control-label text-center"></label>
                <textarea asp-for="Text" class="form-control w-100" style="min-height:30rem" placeholder="Enter the text for your post..."></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center p-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
